

@import url(https://fonts.googleapis.com/css?family=Vollkorn&display=swap);

body{
  background-color: black;
  font-family: 'Vollkorn', serif;
  

}


/*for debugging*/
/* *{
  border: 1px white solid ;
} */



/*navigation bar */
.navBar{
  display: flex;
  align-self: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  position: fixed;
  font-size: 30pt;
  background-color: black;

}

.navLink1{
  padding: 2px;
  margin: 10px;
  
}
.navLink2{
  padding: 2px;
  margin: 10px;

}
.navLink3{
  padding: 2px;
  margin: 10px;

}



.mainContent{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.mainImg{
  width: 20%;
  margin-top: 20px;
}

h1{
  margin: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.title{
  color: whitesmoke;
  font-size: 50pt;
  margin-bottom: 00px;
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.subTitle{
  color: gray;
  font-size: 35px;
  margin-top: 0px;
  padding: 2px;

}

.titleImg{
  width: 60%;
}



.content{
  color: grey;
  font-size: 25px;
  
  margin-left: 200px;
  margin-right: 200px;
}



.moreButton{
  background-color: rgba(245, 245, 245, 0.434);
  color: rgb(0, 0, 0);

  border: inset 4px grey;
  border-radius: 7px ;

  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;

  margin-top: 20px;
  margin-bottom: 100px;

  
}



/*article page */

.article{
  color: grey;
  font-size: 25px;
  margin: 130px;
  margin-top: 20px;
  text-align: center;
  
}

#kitkat{
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  color: red;
  font-size: 19px;
 
}


/*flavor page */

.flavorImg{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin: 50px;

}

.flav1{
  padding: 20px;
}
.flav2{
  padding: 20px;
}
.flav3{
  padding: 20px;
}
.flav4{
  padding: 20px;
}

